@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------------------------------------------------ */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 1rem));
  }
}

.logos-slide {
  animation: 30s slide infinite linear;
}
